[user]
	name = Fabrice Niessen
	email = fniessen@pirilampo.org

[core]
	editor = emacsclient
	pager = less
	whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol

[color]
	ui = auto
	branch = auto
	diff = auto
	status = auto
	interactive = auto

[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green

[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
	whitespace = red reverse

[color "status"]
	added = yellow
	changed = green
	untracked = cyan

[color "grep"]
	filename = bold yellow reverse
	linenumber = magenta bold
	match = green reverse bold
	separator = red bold
	selected = white bold
	context = black
	function = red

[alias]
	st = status
	ci = commit
	br = branch
	co = checkout
	df = diff
	lg = log -p

[alias]
	lgr = log --decorate --pretty=format:'%C(yellow)%h%Creset %C(bold cyan)%d%Creset %s %Cgreen<%an> %C(bold blue)(%cd)%Creset' --abbrev-commit --date=relative --graph
	lga = log --decorate --pretty=format:'%C(yellow)%h%Creset %C(bold cyan)%d%Creset %s %Cgreen<%an> %C(bold blue)(%cd)%Creset' --abbrev-commit --date=short --graph
	y = diff "@{yesterday}"
	w = whatchanged
	who = shortlog -s --
	dc = diff --cached
	ls = ls-files

	# Show files ignored by git:
	ign = ls-files -o -i --exclude-standard

[alias]
	record = ! sh -c '(git add -p -- $@ && git commit) || git reset' --

[alias]
	forkdiff = !bash -c 'git diff $(git merge-base "$1" "$2") "$2" "${@: 3}" ' -

[push]
	# default = simple # default for Git 1.8.0+
	default = matching
